.container-fluid {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	font-family: 'Julius Sans One', sans-serif;
}

/* ==============================
				MENU - NAVBAR @ TOP
================================ */

.menu {
	background: rgba(0, 0, 0, .4);
	padding-top: 15px;
	padding-bottom: 10px;
	width: 100%;
}

.menu ul {
	text-align: center;
	padding-left: 0;
}

.menu li {
	display: inline;
	padding: 10px;
	padding-left: 4%;
	padding-right: 4%;
	text-align: center;
}

.menu li a {
	text-decoration: none;
	color: rgb(240, 240, 240);
}

.menu li a:hover {
	color: rgb(0, 0, 0);
}

/* ========================
					HOME
========================= */


#name h1 {
	color: rgb(240, 240, 240);
	font-size: 3em;
	margin-bottom: 0;
}

#name h3 {
	color: rgb(170, 170, 170);
	font-size: 2em;
	margin-left:20%;
	padding-left: 4%;
	margin-top: 0;
	width: 240px;
	font-family: 'Josefin Sans', sans-serif;
	border-top: 1px solid black;
	text-align: right;
}

#name {
	margin-top: 360px;
	margin-left: 20px;
}

/* ========================
					IMAGE
========================== */

video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/* =========================
					BIO
========================== */

#slogan {
	font-size: 5em;
	font-style: italic;
	color: rgb(255, 210, 210);
	position: absolute;
	margin-left: 70%;
	margin-top: 5%;
}

.bio {
	margin-left: 68%;
	margin-top: 25%;
	width: 400px;
	font-size: 1.2em;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

.bio li {
	margin: 8px;
}

/* ==========================
					PORTFOLIO
=========================== */

#port {
	width: 600px;
	margin-left: 120px;
	height: 500px;
	overflow: scroll;
	margin-top: 100px;
}

#title {
   text-align: center;
   font-size: 1.3em;
   color: black;

}

.project {
   text-align: center;
   max-width: 100%;
   color: rgb(240, 240, 240);
}

.project img{
   width: 50%;
   opacity: .6;
}

.project img:hover {
	opacity: 1;
}

#window {
	width: 200px;
}

.heading {
	font-size: 1.4em;
}

.description {
   width: 60%;
   margin: auto;
   font-size: 1.4em;
   color: white;
   font-family: 'Josefin Sans', sans-serif;
}

.project p {
   text-align: center;
}

.project hr {
   width: 70%;
   border: 1px solid rgb(0, 0, 0);
}

.video {
   position: relative;
   padding-bottom: 56.25%; /* 16:9 */
   padding-top: 25px;
   height: 0;
   margin-top: 25px;
   margin-left: 18%;
   margin-right: 18%;
   margin-bottom: 0;
}

.video iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 80%;
}

/*========================
				CONTACT
=======================  */

.contact {
	width: 700px;
	margin-left: 30%;
	margin-top: 100px;
	position: absolute;
}

.col {
	float: left;
	width: 300px;
	padding: 15px;
}

.col:first-child {
	border-right: 1px solid black;
}


/* ======================
				MEDIA QUERIES
======================== */


@media only screen and (max-width: 640px) {
  
	#name h1 {
		font-size: 2.3em;
		text-align: center;
	}

	#name h3 {
		text-align: right;
		font-size: 1.7em;
		margin-left:10%;
		padding-left: 0;
		margin-top: 0;
		font-family: 'Josefin Sans', sans-serif;
		border-top: 1px solid black;
	}

	#name {
		width: 300px;
		margin: 10 auto;
		margin-top: 50%;
	}


